*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #583371;
    scroll-behavior: smooth;
    overflow-y: scroll;
    min-height: 100vh;
    padding-bottom: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #660066;
    position: static;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

content div{
    margin-top: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#Sobre{
    background-color: #98cc31;
    padding: 1rem 0;
    width: 60%;
    flex-direction: column;
    border: #98cc31 5px solid;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 30px;
    margin-bottom: 1px;
}


#Sobre h1{
    font-size: 3rem;
    color: #660066;
    font-weight: 600;
}

#Sobre h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-top: 30px;
    font-size: larger;
}
.linha{
    width: 100%;
    height: auto;
    background-color: #660066;
    z-index: 1;
    position: relative;
    border: #660066 solid 10px;
    margin-top: 1px;
}

.linha2{
    width: 100%;
    height: auto;
    background-color: #660066;
    z-index: 1;
    position: relative;
    margin-top: 1px;
    border: #660066 solid 10px;
}

.linha3{
    width: 100%;
    height: auto;
    background-color: #660066;
    z-index: 1;
    position: relative;
    margin-top: 1px;
    border-radius: 30px;
    border: #660066 solid 10px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.1s;
}

.menu a:hover{
    border-bottom: solid #98cc31 5px;
    color: #98cc31;
}

.menu img{
    border-radius: 60%;
    border: 1px solid #fff;
}

#acais{
    background-color: #98cc31;
    padding: 1rem 0;
    width: 60%;
    position: relative;
    height: 20%;
    flex-direction: column;
    border: #98cc31 5px solid;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 2;
}

#acais h1{
    font-size: 3rem;
    color: #660066;
    font-weight: 600;
    z-index: 2;
}

.items{
    background-color: #98cc31;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex-direction: column;
    border: #98cc31 5px solid;
    word-break: break-all;
    color: #583371;
    font-size: 1.5rem;
}

.divI{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 300px;
    width: 100%;
}

.bloco1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    justify-items: center;
    background-color: #98cc31;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
}

.bloco1:hover{
    transform: scale(1.1);
}

.bloco1 img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.bloco1 h1{
    font-size: 2rem;
    color: #660066;
    font-weight: 600;
    text-align: center;
}

.bloco1 h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-top: 30px;
    font-size: larger;
}

.bloco2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    justify-items: center;
    background-color: #98cc31;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
}

.bloco2:hover{
    transform: scale(1.1);
}

.preco{
    border-bottom: 4px solid #fff;
    background-color: #583371;
    padding: 1rem;
    font-size: large;
    color: #fff;
}

img{
    width: 128px;
    height: 128px;
}

@media screen and (max-width: 800px) {
    .menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #660066;
        position: relative;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
    }

    .menu img{
        margin-bottom: 30px;
    }

    #Sobre h1{
        font-size: 2rem;
        color: #660066;
        font-weight: 600;
    }

    #Sobre h3{
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
    }

    .local{
        background-color: #98cc31;
        color: #660066;
        border-radius: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
    }

    .local p{
        font-size: 1.3rem;
    }

    #ondeesta h1{
        font-size: 1.3rem;
    }

    .tipos h1{
        font-size: 1.3rem;
    }

    .bloco3 div p{
        font-size: medium;
    }
}

.tipos{
    padding: 1rem 0;
    width: 85%;
    position: relative;
    height: 20%;
    flex-direction: column;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.t1{
    margin-bottom: 10%;
    background-color: #98cc31;
    padding: 1rem 0;
    border-radius: 30px;
    color:#660066;
    position: relative;
    width: 60%;
}

.divII{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 300px;
    width: 100%;
}

#ondeesta{
    background-color: #98cc31;
    color: #660066;
    padding: 1rem 0;
    width: 60%;
    position: relative;
    height: 20%;
    flex-direction: column;
    border: #98cc31 5px solid;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 2;
}

.info{
    display: flex;
    flex-direction: column;
    position: relative;
}
.local{
    background-color: #98cc31;
    color: #660066;
    border-radius: 40px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.rodape{
    display: flex;
    background-color: #660066;
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    padding: 1rem 0;
    border-radius: 20px;
}

.bloco3 div{
    background-color: #98cc31;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: xx-large;
    color: #660066;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
}

.bloco3{
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contato{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contatos{
    display: flex;
    align-items: center;
    margin: 0;
}
p svg{
    background-color: #660066;
    border-radius: 30px;
    color: #98cc31;
    width: 64px;
    height: 64px;
    padding: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
}
  
