*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #583371;
    scroll-behavior: smooth;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #660066;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

content div{
    margin-top: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#Sobre{
    background-color: #98cc31;
    padding: 1rem 0;
    width: 60%;
    flex-direction: column;
    border: #98cc31 5px solid;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


#Sobre h1{
    font-size: 3rem;
    color: #660066;
    font-weight: 600;
}

#Sobre h3{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-top: 30px;
    font-size: larger;
}
.linha{
    width: 100%;
    height: auto;
    background-color: #660066;
    z-index: -1;
    position: absolute;
    border: #660066 solid 10px;
    margin-top: auto;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.1s;
}

.menu a:hover{
    border-bottom: solid #98cc31 5px;
    color: #98cc31;
}

.menu img{
    border-radius: 60%;
    border: 1px solid #fff;
}